Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assets/CC/CC.unity
*.csproj
*.csproj
*.csproj
*.csproj
*.csproj
Assembly-CSharp.csproj